@font-face {
  font-family: "iconfont"; /* Project id 4553218 */
  src: url('//at.alicdn.com/t/c/font_4553218_9o54vp6v6w.woff2?t=1716561906802') format('woff2'),
       url('//at.alicdn.com/t/c/font_4553218_9o54vp6v6w.woff?t=1716561906802') format('woff'),
       url('//at.alicdn.com/t/c/font_4553218_9o54vp6v6w.ttf?t=1716561906802') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-riman:before {
  content: "\e65e";
}

.icon-guoman:before {
  content: "\e606";
}

.icon-bofang:before {
  content: "\e754";
}

.icon-dianshi:before {
  content: "\e759";
}

.icon-shouji:before {
  content: "\e75c";
}

.icon-paiban:before {
  content: "\e75e";
}

.icon-lishi:before {
  content: "\e61d";
}

.icon-sousuo:before {
  content: "\e628";
}
