$xtxColor: #27ba9b;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;

$whiteColor1: #ffffffdf;
$blackColor1: #000000a0;

$fontFamily: "Open Sans", sans-serif;

$blackBgColor: #2a2c2f;
$whiteBgColor: #fdfdfd;
$logo1: url('@/assets/images/logo1.png') no-repeat center 0 / contain;
$logo2: url('@/assets/images/logo2.png') no-repeat center 0 / contain;